@*
  
*@

@{
    ViewBag.Title = "WebSocket Demo Home Page";
}

<div class="container" ng-app="app" ng-controller="DemoDashboardController">
    <section id="wsconnect">
            <form id="ws-connect" ng-submit="vm.Open()">
                <p>
                    Connect to the webservice endpoint:
                    <button class="btn btn-default">Connect</button>
                </p>
            </form>
    </section>

    <section id="main">
    </section>

    <section id="topics">
        <h2>Topics</h2>
        <div id="topic-list" scroll-glue>
            <ul>
                <li ng-repeat="topic in topics">{{topic}}</li>
            </ul>
        </div>
    </section>

    <section id="console">
        <p>
        Console Log:
        <div scroll-glue>
            <ul>
                <li ng-repeat="log in logs">{{log}}</li>
            </ul>
        </div>
        </p>
    </section>
</div>
